[data-theme="dark"] {
  --color-primary: #777777;
  --color-secondary: #414141;
  --color-text: theme("colors.gray.200");
  --color-text-offset: theme("colors.gray.300");
  --color-background: #222222;
  --color-background-offset: #111111;
  --color-border: theme("colors.gray.50" / 10%);
}
