---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
---

<ContentSection title="Kontakt" id="kontakt">
  <Fragment slot="lead">
    Masz pytania? <br />
     My mamy <span class="text-primary">odpowiedzi</span>!
    <section class="pt-12 sm:py-16">
      <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:pb-8 lg:max-w-7xl lg:px-8">
        <dl class="grid gap-6 lg:grid-cols-3">
          <!-- Address -->
          <div class="rounded-3xl bg-offset px-6 py-8">
            <Icon class="mx-auto h-20" name={"mdi:information"} />
            <div class="font-medium text-sm">
              <p>Technika Stosowana Krzysztof Dziedzic</p>
              <p>ul. Podkarpacka 11/4</p>
              <p>80-292 Gdańsk</p>
              <p>NIP 589-205-23-73</p>
            </div>
          </div>

          <!-- Phone number -->
          <div class="rounded-3xl bg-offset px-6 pb-8 pt-8 text-center sm:pb-0">
            <Icon class="mx-auto h-20" name={"mdi:phone"} />
            <p class="mt-8 font-medium text-base">
              <a href="tel:502112999">+48 502 112 999</a>
            </p>
          </div>

          <!-- Email -->
          <div class="rounded-3xl bg-offset px-6 pb-8 pt-8 text-center sm:pb-0">
            <Icon class="mx-auto h-20" name={"mdi:email"} />
            <p class="mt-8 font-medium text-base">
              <a href="mailto:biuro@technikastosowana.pl"
                >biuro@technikastosowana.pl</a
              >
            </p>
          </div>
        </dl>
      </div>
    </section>
  </Fragment>
</ContentSection>
