---
---

<section class="relative mt-12 md:mt-16">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5">
        <div class="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-full rounded-3xl bg-box-bg border-box-border shadow-lg shadow-box-shadow md:divide-x divide-box-border grid grid-cols-1 md:grid-cols-3 bg-offset">
        <div class="text-center">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            8+
          </h2>
          <p class="mt-2 text-heading-3 px-6">Lat na rynku</p>
        </div>
  
        <div class="text-center">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            300+
          </h2>
          <p class="mt-2 text-heading-3 px-6">Ukończonych projektów</p>
        </div>
  
        <div class="text-center">
          <h2 class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1">
            120
          </h2>
          <p class="mt-2 text-heading-3 px-6">Coś tam jeszcze, nie wiem</p>
        </div>
      </div>
    </div>
</section>

