---

---

<section class="relative mt-12 md:mt-16">
  <div class="mx-auto w-full max-w-7xl px-5 sm:px-8 md:px-14 lg:px-5">
    <div
      class="bg-box-bg border-box-border shadow-box-shadow divide-box-border mx-auto grid max-w-full grid-cols-1 rounded-3xl bg-offset p-5 py-6 shadow-lg sm:p-6 sm:py-8 md:grid-cols-3 md:divide-x lg:mx-0"
    >
      <div class="text-center">
        <h2
          class="text-heading-1 font-semibold text-xl sm:text-2xl md:text-4xl"
        >
          8+
        </h2>
        <p class="text-heading-3 mt-2 px-6">Lat na rynku</p>
      </div>

      <div class="text-center">
        <h2
          class="text-heading-1 font-semibold text-xl sm:text-2xl md:text-4xl"
        >
          300+
        </h2>
        <p class="text-heading-3 mt-2 px-6">Ukończonych projektów</p>
      </div>

      <div class="text-center">
        <h2
          class="text-heading-1 font-semibold text-xl sm:text-2xl md:pt-2 md:text-3xl"
        >
          hektolitry
        </h2>
        <p class="text-heading-3 mt-1 px-6">Wypitej kawy</p>
      </div>
    </div>
  </div>
</section>
