---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import MetricsContainer from "./metrics-container.astro";

const features: Array<FeatureItem> = [
  {
    title: "Kompleksowa obsługa",
    description: "Zrealizujemy Twoją imprezę od A do Z",
    icon: "mdi:handshake",
  },
  {
    title: "Zaplecze techniczne",
    description: "Mamy wszystko czego Nam i Wam potrzeba",
    icon: "mdi:circular-saw",
  },
  {
    title: "Elastyczność",
    description: "Wiemy, że nie ma pomysłów niewykonalnych",
    icon: "mdi:directions-fork",
  },
  {
    title: "Wsparcie logistyczne",
    description: "Doradzamy skuteczne rozwiązania na każdym etapie produkcji",
    icon: "mdi:graph",
  },
  {
    title: "Błyskawiczna realizacja",
    description: "i jeszcze szybszy demontaż :)",
    icon: "mdi:lightning-bolt",
  },
  {
    title: "Luźna atmosfera",
    description: "Praca, pracą, ale dalej jesteśmy ludźmi",
    icon: "mdi:glass-mug",
  },
];
---

<ContentSection title="Witaj w naszym świecie!" id="o_nas">
  <Fragment slot="lead">
    <!-- Technika to nasza <span class="text-primary">pasja</span>. -->
     Technika scenograficzna. <span class="text-primary">Skrojone na miarę</span
    > rozwiązania.
    <br />
     Planujemy. Kreujemy. Montujemy.
  </Fragment>
  <MetricsContainer />
</ContentSection>

<ContentSection title="O Nas" id="tez_o_nas">
  <Fragment slot="lead">
    <!-- Cośtam jesteśmy <span class="text-primary">zajebiści</span>. Jesteśmy <span
      class="text-primary">wszechstronii</span
    >. Wielkie słowa mało treści. -->

     profesjonalizm, pasja,<br />
     innowacja, wyobraźnia, niekonwencjonalne pomysły,<br />
    <span class="text-primary">to i tak za mało, żeby Nas opisać</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 rounded-md border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
