---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { fwr, ngl } from "~/content/showcase/_images";
const featuredSites = [fwr, ngl];
const orderedSites = featuredSites.sort(
  (a, b) => a.featured ?? 0 - b.featured ?? 0,
);
---

<ContentSection title="Realizacje" id="realizacje">
  <Fragment slot="lead">
    Konferencje, koncerty, plener. Zobacz co <span class="text-primary"
      >stworzyliśmy</span
    >...
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
  <!-- Odstęp do kontaktu -->
</ContentSection>
